.bitcoin-history {
   color: green;
}
.header-text {
   color: red;
}
.сontent {
   color: orange;
}
.list {
   color: rgb(147, 1, 245);
}
.btc-appearance {
   color: darkorange;
}
.main-text-history {
   color: rgb(38, 25, 220);
}
.creationtc h2{
   color: green
}
.creationtc p{
   color: rgb(0, 171, 174);
}
.main-list-chronology{
   color: deepskyblue;
}
.falling-gatherings-bitcoin h2{
   color: green;
}
.falling-gatherings-bitcoin p{
   color: fuchsia;
} 
.forecastt h2 {
   color: green;
}
.forecastt p{
   color: rgb(225, 14, 14);
}
.agreat-future h5{
   color: aqua;
}
.agreat-future li{
   color: hotpink;
}
.captics h5{
color: green;
}
.captics ul{
   color: rgb(0, 43, 128);
}
.conclusiononon {
   color: blue;
}
   
   
